@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-----------------------Main Container--------------------------------*/
.myContainer {
  background-image: url("https://images7.alphacoders.com/347/thumb-1920-347314.jpg");
  /* background-image: url("https://img.freepik.com/free-photo/airplane-sunset_1150-8338.jpg?w=1380&t=st=1660495381~exp=1660495981~hmac=8c45c18da800e2957e86a1efdfa7b4ad1b983f5ce364d39effdee05fafecda97"); */
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  font-family: "Montserrat", sans-serif;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0, 0.6);
}

/*------------------------Navbar Başlangıç----------------------------*/
.logo {
  width: 250px;
  cursor: pointer;
  margin-left: 50px;
}

.navbar {
  background-color: transparent;
  width: 100%;
  top: 0;
  left: 0;
  padding: 20px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 50px;
  transition: all 0.3s ease;
}

nav ul li:hover {
  padding: 6px 16px;
  outline: none;
  border-radius: 50px;
  border: 1px solid #fff;
}

nav ul li i {
  cursor: pointer;
  margin-right: 10px;
  font-size: 18px;
  color: lightgrey;
}

nav ul li a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #edf0f1;
  font-size: 15px;
}

.login {
  cursor: pointer;
}
/*------------------------Navbar Bitiş----------------------------*/

/*<!--------------Header başlangıç---------------->*/

.container .about-header {
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 20px auto;
  border-radius: 5px;
  color: #edf0f1;
  text-align: center;
  margin-bottom: 2rem;
}

.about-header-title p {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 2.51;
  letter-spacing: 0.39em;
  position: relative;
  max-width: 377px;
  margin: 0 auto;
}

.about-header-title h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  color: beige;
}

.about-flight-button {
  margin-top: 50px;
}

.about-flight-button p , .about-info p {
  font-weight: 500;
  font-size: 1.0625rem;
  line-height: 1.6875rem;
  letter-spacing: 0.39em;
}

.about-flight-button .buy-ticket {

    margin-top: 20px;
    width: 180px;
    background: 0 0;
    border-radius: 0.25rem;
    font-weight: 500;
    font-size: .9375rem;
    color: #fff;
    border: 1px solid #fff; 
    transition: all .3s;

}

.buy-ticket:hover {

    background-color: #fff;
    color: black;
}

/*<!--------------Header bitiş---------------->*/


/*<!--------------About info başlangıç---------------->*/

.about-info {

    max-width: 50%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px auto;
    border-radius: 5px;
    color: #edf0f1;
    text-align: center;


}






















/*----------------Alert LogOut Başlangıç --------------------*/
.main {
  display: none;
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.4);
}

.modal {
  background-color: rgb(165, 5, 5);
  color: #edeef6;
  width: 550px;
  height: 220px;
  max-width: 100%;
  max-height: 100%;
  padding: 30px 50px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  font-family: "Montserrat", sans-serif;
  border: none;
  outline: none;
  cursor: pointer;
  animation: show_slide 1s ease forwards;
}

@keyframes show_slide {
  20% {
    transform: translateY(5%);
  }
  40% {
    transform: translateY(-5%);
  }
  80% {
    transform: translateY(5%);
  }

  100% {
    transform: translateY(10px);
  }
}

.modal h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px 10px 10px;
}

.modal h2 i {
  padding-left: 10px;
  font-size: 22px;
}

.modal p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-size: medium;
}

.modal .buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 15px;
}

button {
  width: 130px;
  height: 25px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  transform: scale(1.1);
  transition: 1s all ease;
}

/*----------------Alert LogOut bitiş--------------------*/
